---
# file: vars/secrets.yml.example


# User name for your 'sudo' account
sudo_user: "deploy"

# Password hash for your 'sudo' account
user_password: "SOME_HASH_VALUE"

# Digital Ocean API keys. At this stage this is for API V1, not V2.
digital_ocean_client_id: "XXX"
digital_ocean_api_key: "XXX"
